/ {
    chosen {
		zephyr,console = &usart2;
        zephyr,code-partition = &slot0_partition;
    };

    my_joystick: joystick {
        compatible = "nam-joystick";

        io-channels = <&adc1 16>, <&adc1 17>;
        io-channel-names = "adcx", "adcy";
        polling-interval-ms = <2000>;
        status = "okay";
    };
};

&usart2 {
    pinctrl-0 = <&usart2_tx_pa2 &usart2_rx_pa3>;
    pinctrl-names = "default";
    current-speed = <115200>;
    status = "okay";
};

&usart3 {
    status = "disabled";
};

&spi4 {
    pinctrl-0 = <&spi4_miso_pe5 &spi4_mosi_pe6 &spi4_sck_pe2>;
    pinctrl-names = "default";

    cs-gpios = <&gpioe 4 GPIO_ACTIVE_LOW>;
    status = "okay";

    spi_flash: w25q64@0 {
        compatible = "jedec,spi-nor";
        reg = <0>;

        jedec-id = [EF 40 17];
        size = <DT_SIZE_M(64)>;
        page-size = <256>;
        spi-max-frequency = <80000000>;
        status = "okay";
    };
};

&adc1 {
    #address-cells = <1>;
    #size-cells = <0>;

    pinctrl-0 = <&adc1_inp16_pa0 &adc1_inp17_pa1>;
    pinctrl-names = "default";

    status = "okay";

    channel@10 {
        reg = <0x10>;
        zephyr,gain = "ADC_GAIN_1";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,vref-mv = <3300>;
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,resolution = <16>;
    };

    channel@11 {
        reg = <0x11>;
        zephyr,gain = "ADC_GAIN_1";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,vref-mv = <3300>;
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,resolution = <16>;
    };
};

&die_temp {
    status = "okay";
};
